body {
   
    margin: 0;
    padding: 0;
    background-color: #F0E9D2;
}

* {
    font-family: 'Bahnschrift';
    text-decoration: none;
}

div:not(.container) {
    padding: 1em;
}

.container {
    display: grid;
    grid-template-areas: 'header header' 'info info' 'benefits benefits' 'houses houses' 'footer footer';
    grid-template-columns: 1fr;
    grid-gap: 1em;
    width: 80vw;
    margin: 0 auto;
}

.container>* {
    box-sizing: border-box;
}

.top-section {
    grid-area: header;
    display: flex;
    align-items: center;
    background-color: #181D31;
    color: #F0E9D2;
}

.title {
    margin: 1em;
}

.navbar>* {
    margin: 1em 0 1em 1em;
    color: #F0E9D2;
    text-decoration: none;
}

.content-section {
    display: flex;
    justify-content: space-evenly;
}

.linkList {
    background-color: #181D31;
    height: 30%;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 1em;
}

.list li {
    padding: 1em;
}

.linkList li a {
    color: #F0E9D2;
}

.textBox {
    background-color: #E6DDC4;
    margin: 0 1em;
}

.facts {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.factBox {
    background-color: #678983;
}

.COOP {
    background-color: #678983;
    margin-top: 1em;
}

.COOPpictures{
    display: flex;
    flex-direction: column;
    align-items: end;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    background-color: #E6DDC4;
}


/*Importerad CSS för knappar som är lite modifierad av mig själv*/

.button-54,
.link,
.housebutton {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-color: whitesmoke;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (max-width: 768px) {
    .button-54, .link {
        font-size: 8px;
    }

    .navbar{
        display: flex;
        flex-direction: column;
    }

    footer{
        display: flex;
        flex-direction: column;
    }
}


@media (max-width:1200px){
  

    .container{
        width: 100vw;
        max-width:100%;  
    }

    .content-section{
        flex-direction: column;
    }
}

@media(min-width:769px) {
    .container{
        padding: 0;
    }
    
  }